@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
  margin: 0px;
  padding: 0px;
}
body {
  font-family: 'Poppins', sans-serif;
}
html{
  font-size: 62.5%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
